#itiran{
}

html{
	height:100%;
}

table {
	margin: 0px auto 0px auto;
	width:1200px;
	padding:0px;
	border-collapse: collapse;
	border:1px solid #000;
	border-color:#383838;
	font-weight:bold;
	color:#222;
  	table-layout:fixed;
  	word-break:break-all;
  	word-wrap:break-word;
    	empty-cells: hide;
}
th {
	vertical-align: middle;
	height: 20px;
	padding: 0px 0px 0px 5px;
	text-align: left;
	font-size: 12px;
	font-weight:bold;
	color:#fff;
	background-color:#999999;
	cursor:default;
	border:1px solid #000;
}
td {
	padding: 3px;
	margin: 0px;
	height: 28px;
	border: none;
	font-size: 14px;
	line-height: 15px;
	vertical-align: middle;
	background-color:#fff;
	border:1px solid #000;
}
fieldset {
        font-size: 13px;
}
.setumei{
        padding: 0px 5px 10px 10px;
        text-align: left;
        font-size: 16px;
}
.inputbox{
	height: 20px;
        width: 60px;
}
.buttons{
	height: 20px;
        width: 90px;
}
.inputboxsh{
	height: 20px;
        width: 40px;
}
.inputboxlg{
	height: 20px;
        width: 95%;
}

h1 {
	padding: 0px;
	margin: 0px;
	color: #0B7A8E;
        font-size: 24px;
}

h2 {
	clear: both;
	padding: 3px 0px 3px 5px;
	margin: 1em 0px 1em;
	font-size: 120%;
	background-color: #F6F6F6;
}

h3 {
	margin: 0px 0px 0.5em 3px;
	font-size: 100%;
	color: #336699;
}